/***************************************************/
/*CSS RESET*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-image: url('../img/body-background.jpeg');
  background-attachment: fixed;

}
/*User Defined*/
:root{
  --raleway:'Raleway', sans-serif;
  --satisfy: 'Satisfy', cursive;
}
.raleway{
  font-family: var(--raleway);
}
.satisfy{
  font-family: var(--satisfy);
}
.shadow-1{
    text-shadow: 2px 2px 5px #000;
}
.shadow-2{
    text-shadow: 1px 1px 1px #fff;
}
.amber-shadow{
  color: #ffc107 !important;
   text-shadow: 1px 1px 1px #000;
}
.h-1{
  font-size: 2em;
}
.h-2{
  font-size: 2.5em;
}

  .btn-rounded{
    border-radius: 30px;
  }
  .gradient{
    background-image: linear-gradient(-45deg, #63C650 0%, #A6FD8C 100%);
  }
  .gradient-2{
    background-image: linear-gradient(-221deg, #FEE140 0%, #FA709A 100%);
  }
  .gradient-3{
        background-image: linear-gradient(-225deg, #EE69FF 0%, #955AF9 100%);

  }
  .gradient-4{
              background-image: linear-gradient(-225deg, #FF69CD 0%, #F95A6D 100%);

  }
  .gradient-5{
              background-image: linear-gradient(-225deg, #1FA2FF 30%, #A6FFCB 100%);

  }
  .fa-rounded{
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  .border-radius-1{
    border-radius: 50px;
  }
  .fa-cog{
    font-size: 1em;
  }
  #gallery-title{
    margin-top: 66px;
  }
  #bp-wrapper{
    margin-top: 66px;
  }
.vh-100{
  height: 100vh;
}
.list-stlye-none{
  list-style-type: none;
}
::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffc107 !important;
   text-shadow: 1px 1px 1px #000;
}
input[placeholder="Search"]{
  border-color: #ffc107 !important;
   text-shadow: 1px 1px 1px #000;
}
#contact-details{
  background-color: #252523;
  color: white;
}
#map{
  height: 300px;
  width: 100%;
}
#toggleMenu:hover{
  border: none;
}
.fa-2{
  font-size: 2em;
}
.mt-10{
  margin-top: 10px !important;
 }
 #zoom_01{
  object-fit: cover;
 }

/*Small devices (mobile)
=======================*/
@media(max-width: 480px){
  #landing-wrapper{
    height: 100vh; 
    background-image: url('../img/landing-background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
  }
  .show{
    display: block;
  }
  .fa{
    font-size: 1.5em;
  }
  #breadcrumbs{
  display: none;
  }
 #footer-links{
  text-align: center;
 }
 #slide1{
  height: 300px;
 }
#map{
  height: 200px;
}
}



/* Small devices (tablets)
==========================*/
@media (min-width: 768px) {
   
#landing-wrapper{
    height: 100vh; 
    background-image: url('../img/landing-background-tablet.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
  }
  #text-content h1{
      font-size: 5em;
  }
  #text-content > p{
    font-size: 2em;
    margin-top: -30px;
  }
  #social-media .fa{
    font-size: 2em;
  }
  #landing-links a{
    font-size: 2em;
  }
  #landing-links button{
    font-size: 2em;
  }
  /*****Modal Form*****/
  #modal-content h4{
    font-size: 2em;
  }
  #modal-content label{
    font-size: 1em;
  }
  #modal-content input{
    font-size: 2em;
  }
  #modal-content p{
    font-size: 1.5em;
  }
  #sign-in-button{
    font-size: 1em;
  }
  #modal-content .fa{
    font-size: 2em !important ;
  }
  #slide1,
   #slide2
   #slide3{
      height: 600px;
   }
   #button-modal-contact{
      display: none;
   }
   #services h2{
    font-size: 2em;
   }

  .hide-rating{
      display: none;
  }
#career-bg{
  height: 500px;
}
  
}

/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {
  #carousel-slide{
    height: 100vh;
  }
  #landing-wrapper{
    height: 100vh; 
    background-image: url('../img/landing-background-desktop.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
  }
}

@media (min-width: 1024px){
  #landing-wrapper{
    height: 100vh; 
    background-image: url('../img/landing-background-desktop.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
  }
  .show-rating{
    display: block;
  }
  .side-trigger-button{
    display: none;
   }
  h1{
    font-size: 5em;
  }
   #services-title,
   #memories-title{
    font-size: 5em !important;
   }
   #map{
  height: 350px;
}
#career-bg{
  height: 500px;
}
}